body {
    margin: 33px 20px 20px 50px;
    background: repeat url(../images/body_bg.png);
    padding: 0;
    color: #261300;
    font: 0.9em/1.5em Geneva, Arial, Helvetica, sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
    color: #8c8300;
}

a:hover,
a:active {
    text-decoration: none;
    color: #b6aa00;
}

.image-left {
    float: left;
    margin: 3px 3px 3px 0;
}

.image-right {
    float: right;
    margin: 3px 0 3px 3px;
}

.collageImg {
    width: 100%;
}

#container {
    position: relative;
    margin: auto auto 0;
    background: repeat-y url(../images/content_bg.png);
    width: 766px;
}

.clearer {
    clear: both;
}

#pageHeader {
    position: relative;
    left: -14px;
    margin: 0 auto;
    background: no-repeat url(../images/header_bg_tr2.png);
    width: 780px;
    height: 189px;

    & h1 {
        position: absolute;
        top: 67px;
        left: 165px;
        margin: 0;
        text-shadow: 2px 2px 2px #000;
        color: #fff;
        font: normal 2.5em Garamond, Georgia, serif;
    }

    & h2 {
        position: absolute;
        top: 107px;
        left: 165px;
        margin: 0;
        text-shadow: 2px 2px 2px #000;
        color: #fff;
        font: normal 1.7em Garamond, Georgia, serif;
    }
}

#contentContainer {
    float: left;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 530px;

    & .content {
        padding-right: 15px;
        padding-left: 30px;
    }
}

.logo img {
    margin-bottom: 10px;
}

#sidebarContainer {
    float: right;
    margin-right: 8px;
    margin-bottom: 20px;
    background: repeat-y url(../images/sidebar_bg.png);
    width: 217px;

    & #top {
        background: no-repeat url(../images/sidebar_top.png);
        width: 217px;
        height: 76px;
    }

    & #bottom {
        background: no-repeat url(../images/sidebar_bottom.png);
        width: 217px;
        height: 64px;
    }

    & #sidebar {
        padding: 0 35px;
        font-size: 0.9em;
    }

    & .sideHeader {
        margin-bottom: 5px;
        text-decoration: underline;
        font: bold 1.5em Georgia, Times New Roman, Times, serif;
    }
}

#footer {
    background: no-repeat url(../images/footer_bg.png);
    width: 766px;
    height: 64px;
    text-align: center;
    font-family: Garamond, Georgia, serif;

    & p {
        margin: 0;
        padding: 32px 30px 0;
    }
}

#breadcrumbcontainer {
    margin-right: 30px;
    margin-left: 30px;
    background: repeat-x url(../images/divider.png);
    padding-top: 10px;
    font-size: 0.9em;

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    & li {
        display: inline;
    }
}

#navcontainer {
    margin-bottom: 15px;
    font-size: 0.9em;

    & .active {
        margin-left: -27px;
        background: no-repeat center bottom url(../images/button_current.png);
        width: 205px;
        color: #300c00;
    }

    & .currentAncestor {
        background: no-repeat center bottom url(../images/button_current.png);
        color: #300c00;
    }

    & ul {
        margin: 0 0 0 33px;
        padding: 0;
        list-style: none;
    }

    & a {
        display: block;
        margin-bottom: 5px;
        background: no-repeat url(../images/button_normal.png) center bottom;
        padding: 9px 0 1px;
        width: 151px;
        height: 21px;
        text-align: center;
        text-decoration: none;
        color: #ecedd2;

        &:hover {
            background: no-repeat center bottom url(../images/button_over.png);
        }
    }
}

blockquote,
.standout {
    margin: 10px 0;
    border-top: 1px solid #cfc5b9;
    border-bottom: 1px solid #cfc4b8;
    padding: 0 10px;
    font-style: italic;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 5px;
    text-decoration: none;
    font-family: Garamond, Georgia, serif;
    font-weight: bold;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    text-decoration: underline;
    font-size: 1.2em;
}

.content ul {
    margin: 20px;
    padding: 0;
    list-style: none;

    & ul {
        margin: 8px 0 0;
    }
}

table {
    font-size: 1em;
}
