body {
    background: repeat url(../images/body_bg.png);
    font: 0.9em/1.5em Geneva, Arial, Helvetica, sans-serif;
    color: #261300;
    margin: 33px 20px 20px 50px;
    padding: 0;}

a:link, a:visited {
    color: #8c8300;
    text-decoration:none;}

a:hover, a:active {
    color: #b6aa00;
    text-decoration:none;}

.image-left {
    margin: 3px 3px 3px 0;
    float: left;}

.image-right {
    margin: 3px 0 3px 3px;
    float: right;}

.collageImg {
    width: 100%;}

.collageTitle {
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   font-family: Helvetica;
   margin-top: -5px;
   font-size: 25px;}

#container {
    position: relative;
    width: 766px;
    margin: auto auto 0px;
    background: repeat-y url(../images/content_bg.png);}

.clearer {
    clear: both;}

#pageHeader {
    width: 780px;
    height: 189px;
    margin: 0 auto;
    background: no-repeat url(../images/header_bg_tr2.png);
    position: relative;
    left: -14px;}

#pageHeader h1 {
    color: #ffffff;
    margin: 0;
    position: absolute;
    top: 67px;
    left: 165px;
    font: normal 2.5em Garamond, Georgia, serif;
    text-shadow: 2px 2px 2px #000;}

#pageHeader h2 {
    margin: 0;
    position: absolute;
    top: 107px;
    left: 165px;
    color: #ffffff;
    font: normal 1.7em Garamond, Georgia, serif;
    text-shadow: 2px 2px 2px #000;}

#contentContainer {
    width: 530px;
    padding-bottom: 20px;
    padding-top: 10px;
    float: left;}

#contentContainer .content {
    padding-right: 15px;
    padding-left: 30px;}

.logo img {
    margin-bottom: 10px;}

#sidebarContainer {
    width: 217px;
    background: repeat-y url(../images/sidebar_bg.png);
    margin-bottom: 20px;
    float: right;
    margin-right: 8px;}

#sidebarContainer #top {
    width: 217px;
    height: 76px;
    background: no-repeat url(../images/sidebar_top.png);}

#sidebarContainer #bottom {
    width: 217px;
    height: 64px;
    background: no-repeat url(../images/sidebar_bottom.png);}

#sidebarContainer #sidebar {
    padding: 0 35px;
    font-size: 0.9em;}

#sidebarContainer .sideHeader {
    font: bold 1.5em Georgia, Times New Roman, Times, serif;
    margin-bottom: 5px;
    text-decoration: underline;}

#footer {
    background: no-repeat url(../images/footer_bg.png);
    width: 766px;
    height: 64px;
    text-align: center;
    font-family: Garamond, Georgia, serif;}

#footer p {
    margin: 0;
    padding: 32px 30px 0;}

#breadcrumbcontainer {
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 10px;
    background: repeat-x url(../images/divider.png);
    font-size: 0.9em;}

#breadcrumbcontainer ul {
    list-style: none;
    margin: 0;
    padding: 0;}

#breadcrumbcontainer li {
    display: inline;}

#navcontainer {
    margin-bottom: 15px;
    font-size: 0.9em;}

#navcontainer .active {
    width: 205px;
    margin-left: -27px;
    background: no-repeat center bottom url(../images/button_current.png);
    color: #300c00;}

#navcontainer .active:hover {}

#navcontainer .currentAncestor {
    background: no-repeat center bottom url(../images/button_current.png);
    color: #300c00;}

#navcontainer ul {
    padding: 0;
    list-style: none;
    margin: 0 0 0 33px;}

#navcontainer a {
    text-align: center;
    width: 151px;
    height: 30px;
    height: 21px;
    display: block;
    background: no-repeat url(../images/button_normal.png) center bottom;
    padding: 9px 0 1px 0;
    margin-bottom: 5px;
    color: #ecedd2;
    text-decoration: none;}

#navcontainer a:hover {
    background: no-repeat center bottom url(../images/button_over.png);}

#navcontainer a:active {}

blockquote, .standout {
    font-style: italic;
    border-top: 1px solid #cfc5b9;
    border-bottom: 1px solid #cfc4b8;
    margin: 10px 0;
    padding: 0 10px;}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family: Garamond, Georgia, serif;
    margin-bottom: 5px;
    text-decoration: none;}

h1 {
    font-size: 1.6em;}

h2 {
    font-size: 1.4em;}

h3 {
    font-size: 1.3em;}

h4 {
    font-size: 1.2em;
    text-decoration: underline;}

.content ul {
    margin: 20px;
    padding: 0;
    list-style: none;}

.content ul ul {
    margin: 8px 0 0;}

table {
    font-size: 1em;}
