{% extends "base.html" %}

{% block lang %}nl{% endblock %}
{% block current_dutch %}active{% endblock %}
{% block title %}{{ block.super }} : Over ons{% endblock %}

{% block body %}
    <p>Wij zijn spin.off, een wervelende vuur-performance groep afkomstig uit Nederland. Wij kunnen worden geboekt voor optredens op festivals, feesten, fairs en zetten een spraakmakend optreden neer. Wat kun je van ons verwachten? Een veilige en professionele vuurshow waarin verschillende disciplines worden verwerkt zoals vuurspuwen, vuurpoi en vuurstaf.</p>

    <p>Kijk rond op onze site en neem contact op met vragen of boekingsverzoeken. Wij zijn in staat om een op maat gemaakt optreden in elkaar te zetten voor een evenement, met vuur en muziek.</p>

    <p><a href="#" class="mail">Klik hier</a> om ons te mailen voor vragen of een boeking. Boekingsverzoeken graag minstens een maand vantevoren sturen, daarmee ben je verzekerd van een kwalitatief hoogstaand optreden voor een lage prijs.</p>
{% endblock %}
