{% extends "base.html" %}

{% block current_english %}active{% endblock %}
{% block title %}{{ block.super }} : About us{% endblock %}

{% block body %}
    <p>We are spin.off, an exciting fire-performance groep from The Netherlands. We can be booked for performances at festivals, fairs and all kinds of parties and will leave your guests impressed. What can you expect from us? A safe and professional fire performance showing various disciplines in fire and light juggling such as fire breathing, fire poi and fire staff.</p>

    <p>Explore our site and get a feel for what we do. Feel free to contact us with any questions or booking requests, we are able to design specific performances geared towards your event, with music and fiery visuals.</p>

    <p><a href="#" class="mail">Click here</a> to mail us for questions or bookings, please make booking requests at least a month in advance to enjoy our high quality and low cost performance at your event.</p>
{% endblock %}
