{% extends "base.html" %}

{% block current_photos %}active{% endblock %}
{% block title %}{{ block.super }} : Photos{% endblock %}
{% block page_name %}Photos{% endblock %}

{% block style %}
.photo_album img {
    width: 49%;
}
{% endblock %}

{% block body %}
<div class="photo_album">
    <img src="{% static 'images_photos/spinoff_02.jpg' %}" alt="Spin off">
    <img src="{% static 'images_photos/spinoff_03.jpg' %}" alt="Double staff">
    <img src="{% static 'images_photos/spinoff_04.jpg' %}" alt="Preparation in winter Archeon">
    <img src="{% static 'images_photos/spinoff_05.jpg' %}" alt="Spin off and fire breathing in winter Archeon">
    <img src="{% static 'images_photos/spinoff_06.jpg' %}" alt="Fire breathing">
    <img src="{% static 'images_photos/spinoff_07.jpg' %}" alt="Poi">
    <img src="{% static 'images_photos/spinoff_08.jpg' %}" alt="Staff at wedding party">
    <img src="{% static 'images_photos/spinoff_09.jpg' %}" alt="Staff in Archeon arena">
    <img src="{% static 'images_photos/spinoff_10.jpg' %}" alt="Staff, staff throw, and poi at Holland Casino Venlo">
    <img src="{% static 'images_photos/spinoff_11.jpg' %}" alt="Staff throw at Holland Casino Venlo">
</div>
{% endblock %}
